[MYSQL_DB]
config = {
            'host': '172.16.161.128',
            'port': 3306,
            'user': 'root',
            'password': 'root',
            'db': 'autotest',
            'charset': 'utf8'
        }


config_sys = {
            'host': '172.16.161.129',
            'port': 1521,
            'user': 'sys',
            'password': 'yoyosys',
            'db': 'autotest',
            'charset': 'utf8'
        }
[Mongo_DB_SYS1]
port = 27017

config = {

            'host': 'mongodb://admin:admin!123@172.16.161.127',
            'database': 'echo',
            'table': 'staff',
            'table_bak':'testone'
        }

[Mongo_DB_SYS]
port = 27017

config = {

            'host': 'mongodb://root:root!123@172.16.150.10',
            'database': 'admin',
            'table': 'system.users',
            'table_bak':'testone'
        }

[Mongo_DB]
port = 27017

config = {

            'host': 'mongodb://apple:111111@172.16.161.127',
            'database': 'autotest',
            'table': 'city',
            'table_bak':'testone'
        }


[Oracle_DB_SYS]
config = {
            'ip_port_sid': '172.16.236.225:1521/ORCL',
            'user': 'sys',
            'password': 'yoyosys',
            'charset': 'utf8'
        }


[Oracle_DB]
config = {

            'user': 'YOYOAT',
            'password': '111111',
            'ip_port_sid': '172.16.161.127:1521/ORCL',
            'role':'cx_Oracle.SYSDBA'
             'db': 'YOYOAT'

        }